fastapi
uvicorn
sqlalchemy
psycopg2-binary
scikit-learn
spacy
python-multipart
pydantic
pydantic-settings
python-dotenv
pandas
PyMuPDF
python-docx
docx2txt
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.5.0
